body {
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ21kZWVtZTF1NHRhbm5kYThqY2hzdHBoemFzNmxmejQwNDlkOXl2byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/FlodpfQUBSp20/giphy.gif");
    color: white;
}
.header {
    width: 85%;
    margin: auto;
    text-align: center;
}
.headerTitle {
    font-size: 40px;
}
.gundam {
    width: 80px;
}
.gundamBar {
    
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: end;

}
.page {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: black 1px solid;
    justify-content: center;
}
.center, .right {
    border: purple 5px ridge;
    /* padding: 15px; */

}


.leftbox {
    /* padding: 10px; */
    margin: 10px;
    border: 5px navy ridge;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.leftboxTitle {
    font-size: 30px;
}
.leftboxContent {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.leftWindowBar {
    padding: 4px;
    border-bottom: 5px ridge navy;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.center {
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 100, 100);
}
.centerbox {
    display: flex;
    flex-direction: column;
    border: 5px ridge purple;
    margin: 20px;
}
.centerHeader {
    font-size: 35px;
}
.centerTitle {
    font-size: 30px;
}
.centerContent {
    font-size: 20px;
    
}
.centerWindowBar {
    padding: 4px;
    border-bottom: 5px ridge purple;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.windowIcon {
    width: 25px;
}
.centerWindowTitle {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: purple;
}
.windowIcon {
    display: flex;
    align-items: center;
    
}
.musicPlayer {
    
}
.mediaAlbumCover {
    width: 150px;
    height: 150px;
    padding: 10px;
}
.album {
    width: inherit;
    height: inherit;
}
.MDIcons {
    width: 20px;
}
.mediaControls {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-top: navy 5px ridge;
}
#backward {
    transform: rotate(180deg);
}
#play, #backward, #forward {
    cursor: pointer;
}