body {
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ21kZWVtZTF1NHRhbm5kYThqY2hzdHBoemFzNmxmejQwNDlkOXl2byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/FlodpfQUBSp20/giphy.gif");
    color: white;
}
.header {
    width: 85%;
    margin: auto;
    text-align: center;
}
.headerTitle {
    font-size: 40px;
}
.gundam {
    width: 80px;
}
.gundamBar {
    
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: end;

}
.page {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: black 1px solid;
    justify-content: center;
}
.leftbox, .rightbox {
    /* padding: 10px; */
    margin: 10px;
    border: 5px rgb(53,53,53) double;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.leftboxTitle {
    font-size: 30px;
}
.leftboxContent {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.leftWindowBar {
    padding: 2px;
    border-bottom: 5px inset rgb(53,53,53);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(53,53,53);
}


.center {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border: 5px double rgb(53,53,53);
}
.centerbox {
    display: flex;
    flex-direction: column;
    border: 5px double rgb(53, 53, 53);
    margin: 20px;
}
.centerHeader {
    font-size: 35px;
}
.centerTitle {
    font-size: 30px;
}
.centerContent {
    font-size: 20px;
    
}
.centerWindowBar {
    padding: 4px;
    border-bottom: 5px ridge rgb(53,53,53);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(53, 53, 53);
}
.windowIcon {
    width: 25px;
}
.centerWindowTitle {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(255, 0, 255);
}
.windowIcon {
    display: flex;
    align-items: center;
    
}
.musicPlayer {
    
}
.trackInfo {
    font-size: 13px;
    text-align: center;
    padding: 3px;
}
.mediaAlbumCover {
    width: 150px;
    height: 150px;
    padding: 10px;
}
.album {
    width: inherit;
    height: inherit;
}
.MDIcons {
    width: 20px;
}
.mediaControls {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-top: rgb(53, 53, 53) 5px ridge;
}
#backward {
    transform: rotate(180deg);
}
#play, #backward, #forward {
    cursor: pointer;
}



.right {
    margin: 8px;
}
.rightWindowBar {
    padding: 4px;
    border-bottom: 5px ridge red;
    display: flex;
    justify-content: space-between;
}
.rightbox {
    border: 5px red ridge;
}
.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.smallgif {
    width: 50px;
}